name : Executando Testes
on:
    workflow_call:
jobs:
    unit-tests:
        name: Teste de Unidade
        runs-on: ubuntu-latest
        steps:
            - name: Obtendo código do projeto
              uses: actions/checkout@v4
            - name: Setup dotnet
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: 8.0.300
            - name: Executando testes de unidade
              working-directory: ./src
              run: dotnet test ./Review-Filmes.Test.Unit/Review-Filmes.Test.Unit.csproj
    
    integrations-testes:
        name: Teste de Integração
        runs-on: ubuntu-latest
        services:
            postgres:
                image: postgres:latest # boas praticas é usar versao especifica, mas é somente uma demo
                env:
                    POSTGRES_USER: review # boas pratica seria obter esses valores das secrets
                    POSTGRES_PASSWORD: 123456
                    POSTGRES_DB: review-filmes
                ports:
                    - 5432:5432
        steps:
            - name: Obtendo código do projeto
              uses: actions/checkout@v4
            - name: Setup dotnet
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: 8.0.300   
            - name: Executando testes integração
              working-directory: ./src
              run: dotnet test ./Review-Filmes.Test.Integration/Review-Filmes.Test.Integration.csproj
              env:
                ConnectionStrings__DefaultConnection: "Host=localhost;Port=5432;Database=review-filmes;Username=review;Password=123456" 

    sonar-qube:
        name: Scan SonarQube
        runs-on: ubuntu-latest
        steps:
            - name: Obtendo código do projeto
              uses: actions/checkout@v4
            - name: Setup dotnet
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: 8.0.300  
            - name: Set up JDK
              uses: actions/setup-java@v4
              with:
                    java-version: 17
                    distribution: 'zulu'
            - uses: actions/checkout@v4
              with:
                fetch-depth: 0
            - name: Cache SonarQube Cloud packages
              uses: actions/cache@v4
              with:
                path: ~\sonar\cache
                key: ${{ runner.os }}-sonar
                restore-keys: ${{ runner.os }}-sonar
            - name: Cache SonarQube Cloud scanner
              id: cache-sonar-scanner
              uses: actions/cache@v4
              with:
                path: .\.sonar\scanner
                key: ${{ runner.os }}-sonar-scanner
                restore-keys: ${{ runner.os }}-sonar-scanner
            - name: Install SonarQube Cloud scanner
              if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
              shell: powershell
              run: |
                New-Item -Path .\.sonar\scanner -ItemType Directory
                dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner
            - name: Build and analyze
              env:
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              shell: powershell
              run: |
                .\.sonar\scanner\dotnet-sonarscanner begin /k:"casoftsolutions_master-ci-cd" /o:"casoftsolutions" /d:sonar.token="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="https://sonarcloud.io"
                dotnet build
                .\.sonar\scanner\dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"


# Obs: por serem teste, nao precisa usar needs entre eles, pois se um falhar, já vai para a execucao da pipeline                    